!!! Warning "Ограничения возможностей прав"

    Данная статья описывает работу с функциями сервиса, доступными для пользователей с правами:
    
    {% for permission in page.meta.permissions -%}
    - {{ permission }}
    {% endfor %}
    
    Если нужные вам функции сервиса не доступны вам из-за отсутсвия нужных прав -- обратитесь к вашему администратору команды.