!!! warning "Ограничения возможностей тарифного плана"

    Данная статья описывает работу с функциями сервиса, доступными на тарифных планах:
    
    {% for plan in page.meta.plan -%}
    - [{{ plan }}](https://stormbpmn.com/pricing)
    {% endfor %}

    Если нужные вам функции сервиса не входят в ваш текущей тарифный план -- обратитесь к вашему администратору {{product}}.