!!! warning "Ограничения возможностей ролей"

    Данная статья описывает работу с функциями сервиса для которых нужна роль: **{{page.meta.role}}**
    
    Если ваша роль не {{page.meta.role}} -- обратитесь к администратору команды.